app-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #ebe9d7;

  .login-container {
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .bem-vindo {
      width: 176px;
      height: 64px;
      margin: 67px auto 0;
      font-size: 24px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #383743;
    }

    .text {
      width: 357.7px;
      height: 52px;
      margin: 20.5px auto 0;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.44;
      letter-spacing: -0.25px;
      text-align: center;
      color: #383743;
    }

    .forms {
      margin-top: 11px;

      .input-container {
        width: 351px;
        margin: 20px auto 0;

        .input {
          display: flex;
          align-items: center;
          margin-bottom: 1px;

          .icon {
            width: 26px;
            height: 26px;
            object-fit: contain;
          }

          input {
            flex: 1;
            background-color: #ebe9d7;
            border: none;
            margin-left: 11.4px;

            &::placeholder {
              opacity: 0.5;
              font-size: 16px;
              line-height: normal;
              letter-spacing: -0.25px;
              text-align: left;
              color: #383743;
            }
          }
        }

        .line {
          width: 351px;
          height: 1px;
          background-color: #383743;
        }

        .error-container {
          font-size: 16px;
          color: #f44336;
        }
      }
    }

    .login-button{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 46.3px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 324px;
        height: 52.8px;
        border-radius: 5px;
        background-color: #57bbbc;
        border: none;
        font-size: 18px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: normal;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;

        &:focus {
          outline: none;
        }

        &[disabled] {
          background-color: rgba(#383743, 0.3);
        }
      }
    }
  }
}
