<div class="login-container">

  <div class="image">
    <img src="../assets/logo-home.png"/>
  </div>

  <div class="bem-vindo">
    BEM-VINDO AO EMPRESAS
  </div>

  <div class="text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin metus.
  </div>

  <form #formLogin="ngForm" (ngSubmit)="login($event, formLogin)">
    <div class="forms">

      <div class="input-container">
        <div class="input">
          <div class="icon">
            <img src="../assets/ic-email.svg"/>
          </div>
          <input [(ngModel)]="loginForm.email" email name="email" type="email" #email="ngModel" required placeholder="E-mail*" [disabled]="carregando">
        </div>
        <div class="line"></div>
        <div class="error-container" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="error" *ngIf="email.errors.required">
            Campo obrigatório.
          </div>
          <div class="error" *ngIf="email.errors.email">
            E-mail inválido.
          </div>
        </div>
      </div>

      <div class="input-container">
        <div class="input">
          <div class="icon">
            <img src="../assets/ic-cadeado.svg"/>
          </div>
          <input [(ngModel)]="loginForm.password" name="password" type="password" #password="ngModel" required placeholder="Senha*" [disabled]="carregando">
        </div>
        <div class="line"></div>
        <div class="error-container" *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="error" *ngIf="password.errors.required">
            Campo obrigatório.
          </div>
        </div>
      </div>

    </div>

    <div class="login-button">
      <button type="submit" [disabled]="carregando">
        Entrar
      </button>
    </div>
  </form>

</div>
