app-enterprise {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #ebe9d7;

  .enterprise-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      background: linear-gradient(180deg, rgb(238, 76, 119) 0%, rgb(146, 46, 90) 100%);
      justify-content: center;

      .before-search {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        min-height: 40px;

        .logo img {
          height: 30px;
          vertical-align: middle;
        }

        .search-icon {
          position: absolute;
          right: 20px;

          button {
            border: none;
            background-color: inherit;

            img {
              width: 30px;
              height: 30px;
              vertical-align: middle;
            }
          }
        }
      }

      .search-header {
        width: 940px;
        margin: 15px 0 14px;

        .search-header-content {
          display: flex;

          .search-icon img {
            width: 30px;
            height: 30px;
            vertical-align: middle;
          }

          .input-container {
            flex: 1;
            margin-left: 10px;

            .input {
              display: flex;
              align-items: center;
            }

            form {
              flex: 1;

              input, textarea {
                border: none;
                background-color: inherit;
                height: 30px;
                width: 100%;
                font-size: 20px;
                color: white;

                &::placeholder {
                  font-size: 20px;
                  color: #991237;
                }
              }
            }

            .close-button button {
              border: none;
              background-color: inherit;

              img {
                width: 30px;
                height: 30px;
                vertical-align: middle;
              }
            }
          }
        }

        .line {
          height: 1px;
          background-color: white;
        }
      }
    }

    .body {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;

      .text {
        font-size: 20px;
        color: #383743;
      }

      .enterprise-list {
        width: 100%;

        .no-result {
          text-align: center;
        }

        li {
          list-style-type: none;
          width: 100%;

          .card {
            border-radius: 5px;
            background-color: white;
            display: flex;
            align-items: center;
            height: 130px;
            margin: 30px;

            .photo {
              height: 90px;
              width: 160px;
              margin: 0 15px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                max-height: 90px;
                max-width: 160px;
                vertical-align: middle;
              }
            }

            .info {
              flex: 1;

              .name {
                font-size: 26px;
                font-weight: bold;
                color: #1a0e49;
              }

              .type {
                font-size: 22px;
                color: #8d8c8c;
              }

              .country {
                font-size: 16px;
                color: #8d8c8c;
              }
            }
          }
        }
      }

      .view-enterprise {
        width: 100%;

        .more-info-card {
          border-radius: 5px;
          background-color: white;
          margin: 30px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .photo {
            width: 800px;
            height: 300px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              max-width: 800px;
              max-height: 300px;
            }
          }

          .description {
            width: 800px;
            font-family: SourceSansPro;
            font-size: 24px;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: -0.38px;
            text-align: left;
            color: #8d8c8c;
          }

          .voltar {
            color: #8d8c8c;
            cursor: default;
            position: absolute;
            top: 30px;
            left: 30px;
          }
        }
      }
    }
  }
}
