<div class="enterprise-container">

  <div class="header">
    <div class="before-search" *ngIf="show">
      <div class="logo">
        <img src='../assets/logo-nav.png'/>
      </div>
      <div class="search-icon">
        <button (click)="show = !show">
          <img src='../assets/ic-search-copy.svg'/>
        </button>
      </div>
    </div>

    <div class="search-header" *ngIf="!show">
      <div class="search-header-content">
        <div class="search-icon">
          <img src='../assets/ic-search-copy.svg'/>
        </div>


        <div class="input-container">
          <div class="input">
            <form #enterpriseForm="ngForm" (ngSubmit)="searchAction($event, enterpriseForm)">
              <input [(ngModel)]="params.name" search name="search" type="search" #search="ngModel" placeholder="Pesquisar" [disabled]="carregando">
            </form>
            <div class="close-button">
              <button (click)="show = !show">
                <img src="../assets/ic-close.svg"/>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="line"></div>
    </div>
  </div>

  <div class="body">
    <div class="text" *ngIf="show">
      Clique na busca para iniciar.
    </div>

    <div class="enterprise-list" *ngIf="success && !showMore && !show">
      <div class="no-result" *ngIf='enterpriseList.length === 0'>
        Nenhuma empresa encontrada.
      </div>

      <li *ngFor='let enterprise of enterpriseList; let i = index'>
        <div class="card" (click)="showMore = !showMore; clickedEnterprise = i">
          <div class="photo">
            <img [src]="'http://empresas.ioasys.com.br'+ enterprise.photo"/>
          </div>

          <div class="info">
            <div class="name">{{enterprise.enterprise_name}}</div>
            <div class="type">{{enterprise.enterprise_type.enterprise_type_name}}</div>
            <div class="country">{{enterprise.country}}</div>
          </div>
        </div>
      </li>
    </div>

    <div class="view-enterprise" *ngIf="success && showMore && !show">
      <div class="more-info-card">
        <div class="voltar">
          <a (click)="showMore = !showMore">Voltar</a>
        </div>

        <div class="photo">
          <img [src]="'http://empresas.ioasys.com.br'+ enterpriseList[clickedEnterprise].photo"/>
        </div>

        <div class="description">
          {{enterpriseList[clickedEnterprise].description}}
        </div>
      </div>
    </div>

  </div>
</div>
